@model StuffFileVM

@{
    ViewData["Title"] = "Create";
}

<h4>Stuff</h4>
<hr />
<div class="card ui-tab-card">
    <div class="card-body">
        <div class="heading-layout1 mg-b-25">
            <div class="item-title">
                <h3>Default Tab</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <div class="basic-tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">Personal Data</a>
                </li>
              @*  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">Add Subject </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">Groups</a>
                </li>*@
            </ul>
            @if (ViewBag.Message is not null)
            {
                <div class="card">
                <div class="card-body ">
                    <p class="alert alert-success">@ViewBag.Message</p>
                </div>
                </div>
            }
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <form asp-action="Create" class="new-added-form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Stuff.Stuff_Name" class="control-label"></label>
                <input asp-for="Stuff.Stuff_Name" class="form-control" />
                <span asp-validation-for="Stuff.Stuff_Name" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Stuff.Stuff_Phone" class="control-label"></label>
                <input asp-for="Stuff.Stuff_Phone" class="form-control" />
                <span asp-validation-for="Stuff.Stuff_Phone" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Stuff.Stuff_Email" class="control-label"></label>
                <input asp-for="Stuff.Stuff_Email" class="form-control" />
                <span asp-validation-for="Stuff.Stuff_Email" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Stuff.Stuff_Specilist" class="control-label"></label>
                <input asp-for="Stuff.Stuff_Specilist" class="form-control" />
                <span asp-validation-for="Stuff.Stuff_Specilist" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Stuff.Stuff_BirthOfDate" class="control-label"></label>
                <input asp-for="Stuff.Stuff_BirthOfDate" class="form-control" />
                <span asp-validation-for="Stuff.Stuff_BirthOfDate" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-12 form-group mg-t-30">
                               @* <label asp-for="Stuff_Image" class="control-label"></label>
                                <input asp-for="Stuff_Image" class="form-control" />
                                <span asp-validation-for="Stuff_Image" class="text-danger"></span>*@
                                <label asp-for="file" class="text-dark-medium"></label>
                                <input asp-for="file" accept=".jpg,.png" type="file" class="form-control-file">
                                <span asp-validation-for="file" class="text-danger"></span>
                            </div>
            <div class="col-12 form-group mg-t-8">
                <button type="submit" value="Create" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
             </div>
             </div>
        </form>
    </div>

                @*<div class="tab-pane fade" id="tab2" role="tabpanel">
                    
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                   
                </div>*@

        
            </div>
        
        </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>    

@section Scripts{
    @*<script>
        $(function() {
            $("#Level_Id").change(function() {
                $.ajax({
                    url: '@Url.Action("GetStagesData", "Teachers")',
                    type: "GET",
                    data: {
                        LevelId: $(this).val()
                    },
                    success: function(data) {
                        $('#Stage_Id').find('option').remove();
                        $('#Stage_Id').append('<option value="0">"Select Stage"</option>');
                        $(data).each(function(index, item) {
                            $('#Stage_Id').append(`<option value="${item.stage_Id}">"${item.stage_Name}"</option>`);
                        });
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
                $.ajax({
                    url: '@Url.Action("GetMatrialData", "Teachers")',
                    type: "GET",
                    data: {
                        LevelId: $(this).val()
                    },
                    success: function(data) {
                        $('#Matrial_Id').find('option').remove();
                        $('#Matrial_Id').append('<option value="0">"Select Matrial"</option>');
                        $(data).each(function(index, item) {
                            $('#Matrial_Id').append(`<option value="${item.matrial_Id}">"${item.matrial_Name}"</option>`);
                        });
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });
            
        });
    </script>*@
    }